body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

canvas {
    position: absolute;
    

}

#message {
    position: absolute;
    top  : 10px;
    left  : 50%;
    transform  : translateX(-50%);
    font-family  : sans-serif;
    font-weight  : bold;
    display  : "none";

}